.vscode/**
.vscode-test/**
node_modules/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
images/**
temp/**
!images/ai-logo.png
!images/ai-logo-in.png
chatgpt-4.7.2